python_basics/tag16/names.csv
python_advanced/projekttag02/authentication.json
python_advanced/tag14/PetImages
python_advanced/projekttag04/feat.pkl
python_advanced/projekttag04/targ.pkl
python_advanced/tag14/targ.pkl
python_advanced/tag14/feat.pkl
